shamefully-hoist=true
strict-peer-dependencies=false
auto-install-peers=true
only-built-dependencies[]=@prisma/client
only-built-dependencies[]=@prisma/engines
only-built-dependencies[]=esbuild
only-built-dependencies[]=prisma
only-built-dependencies[]=vue-demi
